<div class="container">
  <div class="row">
    <div class="col-12">
      <form [formGroup]="addForm">
        <div>
          <mat-form-field appearance="outline" class="width100">
            <mat-label>預定完成日</mat-label>
            <input matInput [matDatepicker]="picker1" formControlName="date_for_estimated_completion"
              name="date_for_estimated_completion" ngDefaultControl>
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>

          <mat-form-field appearance="outline" class="width100">
            <mat-label>主旨</mat-label>
            <input matInput placeholder="" type="text" formControlName="remark" name="remark" ngDefaultControl>
          </mat-form-field>

          <!--人員-->
          <!-- <mat-form-field appearance="outline" class="width100">
          <mat-label>人員</mat-label>
          <mat-select formControlName="user_id" name="user_id" ngDefaultControl>
              <mat-option class="option-30" *ngFor="let account of Users"
                  [value]="account.account_id">
                  {{account.name}}
              </mat-option>
          </mat-select>
      </mat-form-field> -->

          <button mat-button class="btn-normal-none reset" type="reset">清除</button>
          <button mat-button class="btn" (click)="reset()">重置</button>
        </div>
      </form>
    </div>
  </div>
</div>
